@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 64.45% 19.01%, #b23796 0, #a02c9a 16.67%, #8a229d 33.33%, #6e1aa0 50%, #4918a3 66.67%, #001ba6 83.33%, #001fa9 100%);
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 120px;
}

.titulo{
    text-align: center;
    color: rgb(0, 0, 0);
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-image: radial-gradient(circle at 64.45% 19.01%, #b23796 0, #a02c9a 16.67%, #8a229d 33.33%, #6e1aa0 50%, #4918a3 66.67%, #001ba6 83.33%, #001fa9 100%);
    margin: 10px;
    border-radius: 30%;
}

.menu a:hover{
    border: 1px solid rgb(56, 55, 55);
    background-color: rgb(75, 90, 85);
    color: white;
    border-radius: 10px;
}